@import url("./css-modules/variables.css");
@import url("./css-modules/header.css");
@import url("./css-modules/hero-section.css");
@import url("./css-modules/featured-on.css");
@import url("./css-modules/wordpress-experts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-container{
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.content-container .section-title{
    font-size:42px;
}
/* Reset default styles */

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--alegreya);
}

a {
    text-decoration: none;
    color: black;
}

button{
    cursor: pointer;
    outline: none;
    transition: all 0.15s ease-in;
}
