@import url("./css-modules/variables.css");
@import url("./css-modules/header.css");
@import url("./css-modules/hero-section.css");
@import url("./css-modules/featured-on.css");
@import url("./css-modules/wordpress-experts.css");
@import url("./css-modules/our-features.css");
@import url("./css-modules/what-clients-say.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #232323;
}

/* CONTENT CONTAINER */
.content-container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.content-container .section-title {
    font-size: 42px;
    text-align: center;
}

.content-container .section-desc {
    font-size: 21px;
    font-family: var(--nunito-sans);
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

/* VIEW LINKS */
.view-more-link {
    font-family: var(--nunito-sans);
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    width: fit-content;
    position: relative;
    color: #2c3964;
    transition: all 0.15s ease-in;
}

.view-more-link:hover {
    color: hsl(217, 100%, 64%, 80%);
}

.view-more-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #488eff;
    width: 100%;
}

/* Reset default styles */

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--alegreya);
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
    transition: all 0.15s ease-in;
}
