@import url("./css-modules/variables.css");
@import url("./css-modules/header.css");
@import url("./css-modules/hero-section.css");
@import url("./css-modules/featured-on.css");
@import url("./css-modules/wordpress-experts.css");
@import url("./css-modules/our-features.css");
@import url("./css-modules/what-clients-say.css");
@import url("./css-modules/get-started.css");
@import url("./css-modules/footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #232323;
    transition: all 0.15s ease-in;
}

body {
    padding-top: 91px; /* navbar height */
}

/* CONTENT CONTAINER */
.content-container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.content-container .section-title {
    font-size: 42px;
    text-align: center;
}

.content-container .section-desc {
    font-size: 21px;
    font-family: var(--nunito-sans);
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

/* BUTTONS */
.btn.btn-login {
    color: var(--color-primary);
    padding: 10px 20px;
    background: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 4%);
    text-transform: uppercase;
    font-weight: bold;
}

.btn.btn-login:hover,
.btn.btn-login:active {
    background: var(--color-primary);
    color: white;
}

.btn.btn-get-started {
    background: var(--color-primary);
    padding: 10px 20px;
    border: 1px solid var(--color-primary);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: -7px 7px 0px -2px rgba(72, 142, 255, 35%);
    text-transform: capitalize;
    color: white;
    font-family: var(--nunito-sans);
    font-weight: bold;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    font-size: 18px;
}

.btn-get-started:hover {
    background: var(--color-primary-light);
    color: var(--color-primary);
}
/* VIEW LINKS */
.view-more-link {
    font-family: var(--nunito-sans);
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    position: relative;
    color: #2c3964;
    transition: all 0.15s ease-in;
}

.view-more-link:hover {
    color: hsl(217, 100%, 64%, 80%);
}

.view-more-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #488eff;
    width: 100%;
}

@media (max-width: 786px) {
    .content-container .section-desc {
        margin: 0;
    }
}

/* Reset default styles */

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--alegreya);
}

a {
    text-decoration: none;
    color: #232323;
}

button {
    cursor: pointer;
    outline: none;
    transition: all 0.15s ease-in;
}
