#featured-on-container {
    border-bottom: 2px solid rgba(72, 142, 255, 10%);
}

#featured-on {
    display: grid;
    grid-row-gap: 40px;
}

#featured-on .featured-on__title {
    text-align: center;
    font-size: 24px;
}

#featured-on .featured-on__images {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(215px, auto));
    grid-row-gap:30px;
    grid-column-gap: 70px;
}

#featured-on .featured-on__images .partner-img-container {
    display: flex;
    align-items: center;
}

@media (max-width:1024px){
    #featured-on .featured-on__images {
        justify-content: space-around;
        grid-row-gap:40px;
    }

}
