#footer-container {
    padding: 0 var(--h-padding-lg);
}

#footer #footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 0;
    border-bottom: 2px solid rgba(72, 142, 255, 10%);
}

#footer-top #footer__company {
    width: 265px;
    display: grid;
    grid-row-gap: 30px;
}

#footer__company #company__title {
    font-size: 27px;
    font-family: var(--gobold-regular);
}

#footer__company #company__about {
    font-size: 18px;
    font-family: var(--nunito-sans);
    line-height: 2;
}

#footer-top #footer__menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, auto));
}

#footer__menu .menu__items {
    display: grid;
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    grid-row-gap: 30px;
}

#footer__menu .menu__items .item {
    display: block;
    font-family: var(--nunito-sans);
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    transition: all 0.15s ease-in;
}

#footer__menu .menu__items .item:hover {
    text-decoration: underline;
}
#footer__menu .menu__items .item.menu__title {
    font-size: 21px;
    font-family: var(--alegreya);
    margin-bottom: 5px;
    text-decoration: none;
    font-weight:600;
}

#footer #footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

#footer-bottom #footer__copyright-and-privacy {
    display: flex;
    margin: 0 10px 10px 0;
    flex-wrap: wrap;
}

#footer__copyright-and-privacy #copyright-text {
    font-family: var(--nunito-sans);
    border-right: 2px solid rgba(72, 142, 255, 10%);
    padding-right: 15px;
    display: block;
}

#footer__copyright-and-privacy #privacy-link {
    font-family: var(--nunito-sans);
    color: var(--color-primary);
    padding-left: 15px;
    display: block;
}
#footer__copyright-and-privacy #privacy-link:hover{
    text-decoration: underline;   
}

#footer__social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

#footer__social-media .social-media__link{
    opacity:0.65;
}

#footer__social-media .social-media__link:hover{
    opacity:1;
}

@media (max-width: 1124px) {
    #footer-top #footer__company {
        width: 100%;
        margin-bottom: 40px;
    }

    #footer-top #footer__menu {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        width: 100%;
        grid-row-gap: 30px;
    }

    #footer__menu .menu__items {
        grid-row-gap: 20px;
    }
}

@media (max-width: 768px) {
    #footer-top #footer__menu {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }

    #footer__social-media {
        margin: 10px auto;
    }
}

@media (max-width: 581px) {

    #footer-container {
        padding: 0 var(--h-padding-sm);
    }
}


