#get-started {
    padding: 60px var(--h-padding-lg);
    background: #2c3964;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
}

#get-started .get-started__content {
    display: grid;
    grid-row-gap: 20px;
    max-width: 645px;
}

.get-started__content .get-started__heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.get-started__content .get-started__desc {
    color: white;
    font-size: 18px;
    font-family: var(--nunito-sans);
    line-height: 2;
    word-spacing: 2px;
}

#get-started #bottom__get-started-btn {
    height: 100%;
    margin: 20px 0;
}
