#header-container {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

#header-container #header {
    max-width: var(--header-max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nunito-sans);
}

#header__logo {
    width: 195px;
}

#header #header__navbar {
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #header__navbar .nav-link {
    text-transform: uppercase;
    font-size: 13px;
}

#header #header__navbar .nav-link:hover {
    color: var(--color-primary);
    transition: all 0.15s ease-in;
}

#header__navbar #header__login-btn {
    color: var(--color-primary);
    padding: 10px 20px;
    background: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: 0 9px 6px #00000014;
    text-transform: uppercase;
    font-weight: bold;
}

#header__navbar #header__login-btn:hover,
#header__navbar #header__login-btn:active {
    background: var(--color-primary);
    color: white;
}
