#header-container {
    display: flex;
    justify-content: center;
    padding: 20px var(--h-padding-lg);
    font-family: var(--nunito-sans);
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}

#header-container #header {
    max-width: var(--header-max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-container #responsive-navbar {
    display: none;
}

#header__logo {
    width: 195px;
}

#header #header__navbar {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 1px;
    border-radius: 50%;
    opacity: 0.85;
}
#header #menu-icon:hover {
    opacity: 1;
    background: var(--color-primary);
    color: white;
}
#header #header__navbar .nav-link {
    text-transform: uppercase;
    font-size: 13px;
}

#header #header__navbar .nav-link:hover {
    color: var(--color-primary);
}

@media (max-width: 1124px) {
    #header #header__navbar {
        display: none;
    }

    #header #menu-icon {
        display: block;
    }

    #header-container #responsive-navbar {
        display: grid;
        position: absolute;
        top: 0;
        right: -280px; /* navbar width */
        background: white;
        box-shadow: 2px 2px 8px #2323235d;
        z-index: 1;
        border-bottom: 12px solid var(--color-primary);
        border-top: 12px solid var(--color-primary);
    }

    #responsive-navbar__login-btn {
        width: fit-content;
        margin: 25px auto;
    }
    #header-container #responsive-navbar .nav-link {
        padding: 25px;
        min-width: 280px;
        border-top: 1px solid #00000012;
        text-transform: uppercase;
        font-size: 13px;
    }
    #header-container #responsive-navbar .nav-link:hover {
        background: var(--color-secondary);
        color: white;
    }
}


@media (max-width:581px){
    #header-container { 
        padding:var(--h-padding-sm);
    }

    #header-container #responsive-navbar .nav-link {
        padding:20px;
    }
}