#hero-container {
    background-color: var(--color-primary-light);
    background-size: cover;
    padding: 115px var(--h-padding-lg);
    width: 100%;
    position: relative;
}

#hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 14%;
    background-image: url(../../assets/hero-image/feather.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
    z-index: -1;
}

#hero-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/hero-image/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 235px;
    z-index: -1;
}

#hero-container #hero {
    display: grid;
    row-gap: 25px;
}

#hero #hero__heading {
    font-size: 60px;
}

#hero #hero__heading #heading__text-highlight {
    display: inline-block;
    position: relative;
}

#hero #hero__heading #heading__text-highlight:before {
    content: "";
    position: absolute;
    bottom: 18%;
    display: inline-block;
    border-bottom: 13px solid #81e6ff;
    opacity: 80%;
    width: 100%;
    z-index: -1;
}

#hero #hero__sub-heading {
    font-family: var(--nunito-sans);
    font-style: italic;
    font-size: 30px;
}

#hero #hero__details {
    font-family: var(--nunito-sans);
    font-size: 21px;
}

@media (max-width: 768px) {
    #hero #hero__heading {
        font-size: 50px;
    }

    #hero #hero__sub-heading {
        font-size: 25px;
    }

    #hero #hero__details {
        font-size: 18px;
    }
}

@media (max-width: 581px) {
    #hero-container {
        padding: 40px var(--h-padding-sm);
    }
}

@media (max-width: 518px) {
    #hero #hero__heading #heading__text-highlight:before {
        bottom:6%;
        width: 230px;
    }
}
