@font-face {
    font-family: "GoboldRegular";
    src: url("../../fonts/Gobold-Regular.otf");
}
@font-face {
    font-family: "GothamBold";
    src: url("../../fonts/Gotham-Bold.otf");
}
@font-face {
    font-family: "Hensa";
    src: url("../../fonts/Hensa.otf");
}

/* variables */
:root {
    /* width */
    --header-max-width: 1612px;
    --content-max-width: 1170px;

    /* padding */
    --h-padding-lg:40px;
    --h-padding-sm:20px;

    /* fonts */
    --alegreya: "Alegreya", serif;
    --alegreya-sans: "Alegreya Sans", sans-serif;
    --nunito: "Nunito", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;
    --gobold-regular: "GoboldRegular", sans-serif;
    --gotham-bold: "GothamBold", sans-serif;
    --hensa: "Hensa", sans-serif;

    /* color  */
    --color-primary: #488eff;
    --color-primary-light: rgba(72, 142, 255, 5%);
    --color-secondary: rgb(156, 235, 255);
}
