#what-clients-say-container {
    padding: 60px var(--h-padding-lg);
    margin-bottom:120px;
}

#what-clients-say {
    position: relative;
}

#what-clients-say__desc{
    margin:30px 0 50px 0;
}

.carousel-container {
    background-color: var(--color-primary-light);
    padding: 80px 0 120px 0;
    position: relative;
}

.what-clients-say__carousel{
    max-width: inherit;
}

.what-clients-say__info {
    display: grid;
    justify-content: center;
    grid-row-gap: 50px;
}

.what-clients-say__info .info__subject {
    font-size: 30px;
    text-align: center;
}

.what-clients-say__info .info__desc {
    font-size: 21px;
    font-family: var(--nunito-sans);
    font-style: italic;
    max-width: 850px;
    text-align: center;
    line-height: 2;
}

.what-clients-say__info .comma-icon {
    margin: 0 auto;
    width: 31px;
}


.what-clients-say__client-list {
    content: "";
    position: relative;
    bottom: 60%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}

.what-clients-say__client-list .client__card-and-site {
    cursor:pointer;
}

.client__card-and-site:hover .client__card {
    filter: opacity(1);
}

.client__card-and-site:hover .client__card {
    box-shadow: 0 13px 26px rgb(0, 0, 0, 5%);
}

.client__card-and-site .client__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 290px;
    padding: 20px 25px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background: white;
    margin:0 auto;
    filter: opacity(0.85);
    transform:scale(0.85);
}

.client__card .card__client-pic {
    border-radius: 50%;
}

.client__card-and-site.active .client__card .card__client-pic {
    filter: opacity(1);
}

.client__card .card__client-info .client-info__name {
    font-family: var(--alegreya);
    font-weight: bold;
    font-size: 20px;
}

.client__card .card__client-info .client-info__position {
    font-family: var(--alegreya-sans);
    font-size: 17px;
}

.client__card-and-site .client__website {
    text-align: center;
    color: var(--color-primary);
    display: none;
    font-family: var(--nunito-sans);
    margin:20px 0;
}

@media (max-width: 1024px) {
    .carousel-container{
        padding: 80px 20px 120px 20px;
    }

    .what-clients-say__client-list .client__card-and-site {
        display: none;
    }

}


@media (max-width: 581px) {
    .carousel-container{
        padding:60px 10px 120px;
    }

    #what-clients-say-container {
        padding: 40px var(--h-padding-sm);
    }

    .client__card-and-site .client__card {
        min-width: 250px;
    }
}
