#wordpress-experts-container {
    padding: 60px 20px;
}

#wordpress-experts-container #wordpress-experts {
    display: grid;
    row-gap: 60px;
}

#wordpress-experts__details {
    position: relative;
    background: var(--color-primary-light);
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
}

#wordpress-experts__details #experts__details__info {
    display: grid;
    grid-row-gap: 25px;
    max-width: 600px;
}

#experts__details__info #details__info__heading {
    font-size: 30px;
}

#experts__details__info #details__info__desc,
#experts__details__info #details__info__lets-talk,
#experts__details__info #details__info__view-plan {
    font-family: var(--nunito);
    font-size: 18px;
    line-height: 1.5;
}

#experts__details__info #details__info__view-plan {
    color: #01022f;
}

#experts__details__info #details__info__view-plan:hover {
    color: hsl(214, 82%, 51%, 80%);
}

#experts__details__info #details__info__view-plan:after {
    border-color: #1a73e8;
}

#wordpress-experts__details #experts__details__person {
    display: grid;
    justify-items: center;
    grid-row-gap: 10px;
    position: absolute;
    right: 4%;
    top: -20%;
    background: white;
    width: fit-content;
    text-align: center;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    padding: 45px 25px;
    box-shadow: 0 13px 46px rgba(0, 0, 0, 10%);
}

#experts__details__person #person__pic {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
}

#experts__details__person #person__name {
    font-family: var(--hensa);
    font-size: 33px;
}

#experts__details__person #person__post {
    font-family: var(--nunito);
}
